* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  color: #78909c;
  background: linear-gradient(
    135deg,
    #65bde0 0%,
    #65bde0 50%,
    #fa3c3c 50%,
    #fa3c3c 100%
  );
}
